</<!DOCTYPE html>
<html>
<head>
	<title>Fake Email Check</title>
</head>
<body>
	<h1> Fake Emails</h1>
	<h4> Usage Example: </h4>
	<a target='_blank' href='/check?email=email@domain.com'> https://fake-emails.herokuapp.com/check?email=email@domain.com</a>

	<h4> Contribute: </h4>
	<p> <a href='https://github.com/wesbos/burner-email-providers' target='_blank'> https://github.com/wesbos/burner-email-providers</a> for the email list.<p>
	<p> <a href='https://github.com/letz/fake-email' target='_blank'> https://github.com/letz/fake-email</a> for the server.<p>
</body>
</html>
